
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #0a0a0a;
    color: white;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}


.img1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.img1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
}


.create-square {
    position: absolute;
    width: 550px;
    height: 500px;
    border-radius: 5%;
    margin-left: 625px;
    margin-top: 220px;
    opacity: 1;
    z-index: 10;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 1.0);
}


.create-title {
    position: absolute;
    top: 270px;
    left: 675px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    z-index: 20;
}

.create-subtitle {
    position: absolute;
    top: 310px;
    left: 675px;
    color: white;
    font-size: 16px;
    z-index: 20;
    opacity: 0.6;
}


.create-line {
    width: 200px;
    height: 3px;
    position: absolute;
    z-index: 11;
    background-color: #2267e7;
    border-radius: 7%;
    top: 300px;
    left: 660px;
}


.create-email {
    position: absolute;
    top: 350px;
    left: 675px;
    z-index: 40;
}

.create-email input {
    all: unset;
    background: transparent;
    border: none;
    width: 250px;
    padding: 8px 12px;
    color: white;
    font-size: 16px;
}

.create-line-email {
    width: 250px;
    height: 2px;
    position: absolute;
    z-index: 51;
    background-color: gray;
    border-radius: 7%;
    top: 380px;
    left: 675px;
    opacity: 50%;
}


.create-password {
    position: absolute;
    top: 410px;
    left: 675px;
    z-index: 40;
}

.create-password input {
    all: unset;
    background: transparent;
    border: none;
    width: 250px;
    padding: 8px 12px;
    color: white;
    font-size: 16px;
}

.create-line-password {
    width: 250px;
    height: 2px;
    position: absolute;
    z-index: 51;
    background-color: gray;
    border-radius: 7%;
    top: 440px;
    left: 675px;
    opacity: 50%;
}


.create-confirm {
    position: absolute;
    top: 470px;
    left: 675px;
    z-index: 40;
}

.create-confirm input {
    all: unset;
    background: transparent;
    border: none;
    width: 250px;
    padding: 8px 12px;
    color: white;
    font-size: 16px;
}

.create-line-confirm {
    width: 250px;
    height: 2px;
    position: absolute;
    z-index: 51;
    background-color: gray;
    border-radius: 7%;
    top: 500px;
    left: 675px;
    opacity: 50%;
}


.create-button {
    position: absolute;
    top: 550px;
    left: 950px;
    z-index: 100;
}

.create-button button {
    all: unset;
    width: 180px;
    height: 50px;
    background: #34a853;  
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    z-index: 100;
}

.create-button button:hover {
    background: #2d9749;
    z-index: 100;
}


.back-link {
    position: absolute;
    top: 620px;
    left: 675px;
    color: white;
    font-size: 14px;
    z-index: 100;
    opacity: 0.7;
}

.back-link a {
    color: #4285f4;
    text-decoration: none;
}

.back-link a:hover {
    text-decoration: underline;
}


.create-email input::placeholder,
.create-password input::placeholder,
.create-confirm input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}


.create-email input:focus,
.create-password input:focus,
.create-confirm input:focus {
    outline: none;
}

.create-button {
    position: absolute;
    top: 550px;
    left: 950px;
    z-index: 1000;
}

.create-button button {
    width: 180px;
    height: 50px;
    background: #34a853;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    opacity: 0 !important;
    visibility: visible !important;
}

