* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #0a0a0a;
    color: white;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}


.img1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.img1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
}


.square {
    position: absolute;
    width: 550px;
    height: 500px;
    border-radius: 5%;
    margin-left: 625px;
    margin-top: 220px;
    opacity: 1;
    z-index: 10;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 1.0);
}


.privetstvie {
    position: absolute;
    top: 270px;
    left: 675px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    z-index: 20;
}

.privetstvieII {
    position: absolute;
    top: 310px;
    left: 675px;
    color: white;
    font-size: 16px;
    z-index: 20;
    opacity: 0.6;
}


.liniya {
    width: 200px;
    height: 3px;
    position: absolute;
    z-index: 11;
    background-color: #2267e7;
    border-radius: 7%;
    top: 300px;
    left: 660px;
}


.email {
    position: absolute;
    top: 350px;
    left: 675px;
    z-index: 40;
}

.email input {
    all: unset;
    background: transparent;
    border: none;
    width: 250px;
    padding: 8px 12px;
    color: white;
    font-size: 16px;
}

.liniyaII {
    width: 250px;
    height: 2px;
    position: absolute;
    z-index: 51;
    background-color: gray;
    border-radius: 7%;
    top: 380px;
    left: 675px;
    opacity: 50%;
}


.password {
    position: absolute;
    top: 410px;
    left: 675px;
    z-index: 40;
}

.password input {
    all: unset;
    background: transparent;
    border: none;
    width: 250px;
    padding: 8px 12px;
    color: white;
    font-size: 16px;
}

.liniyaIII {
    width: 250px;
    height: 2px;
    position: absolute;
    z-index: 51;
    background-color: gray;
    border-radius: 7%;
    top: 440px;
    left: 675px;
    opacity: 50%;
}


.Signin {
    position: absolute;
    top: 650px;
    left: 950px;
    z-index: 51;
}

.Signin button {
    all: unset;
    width: 180px;
    height: 50px;
    background: #2267e7;  
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
}

.Signin button:hover {
    background: #1a56d4;
}


.forgot {
    position: absolute;
    top: 520px;
    left: 675px;
    color: white;
    font-size: 14px;
    z-index: 20;
    opacity: 0.7;
}


.forgott {
    position: absolute;
    top: 550px;
    left: 675px;
    z-index: 51;
}

.forgott button {
    all: unset;
    padding: 8px 20px;
    background: #444;  
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.forgott button:hover {
    background: #555;
}


.liniyaIV {
    width: 250px;
    height: 1px;
    position: absolute;
    z-index: 11;
    background-color: #444;
    top: 590px;
    left: 675px;
    opacity: 50%;
}


.create {
    position: absolute;
    top: 610px;
    left: 675px;
    color: white;
    font-size: 14px;
    z-index: 20;
    opacity: 0.7;
}


.Createe {
    position: absolute;
    top: 640px;
    left: 675px;
    z-index: 51;
}

.Createe button {
    all: unset;
    padding: 10px 25px;
    background: #0e8ff8;  
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
}

.Createe button:hover {
    background: #0e8ff8;
}


.email, .password {
    margin: 0;
}


.input-field::placeholder {
    color: rgba(255, 255, 255, 0.5);
}


.email input:focus, .password input:focus {
    outline: none;
}
